@using Cryptocurrencies_info.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <caption>Caption of coins</caption>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Current price</th>
            <th>Price changing in percentage for 24h</th>
            <th>Volume</th>
        </tr>
        @foreach (var coin in Model)
        {
            <tr>
                <td>@coin.Rank</td>
                <td><a class="page-link" asp-controller="Home" asp-action="Coin" asp-route-id="@coin.Id">@coin.Name</a></td>
                <td>@coin.CurrentPrice $</td>
                <td>@coin.PriceChangePercentage24h %</td>
                <td>@coin.Volume $</td>
            </tr>
        }
    </table>
</div>
