@using CryptocurrenciesInfo.Models
@{
    ViewData["Title"] = "List";
}

<div class="text-center">
    <h1 class="display-4">Cryptocurrencies list</h1>
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control-sm" name="searchString" placeholder="Search a coin">
            <input type="submit" value="Find" class="btn btn-primary" onclick="@Url.Action("List", new { pageNumber = 0, searchString = ViewData["searchString"] })"/>
        </div>
    </form>
    <table class="table">
        <caption>Table of coins</caption>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Current price</th>
            <th>Price changing in percentage for 24h</th>
            <th>Volume</th>
        </tr>
        @foreach (var coin in Model.Data)
        {
            <tr>
                <td>@coin.Rank</td>
                <td><a class="page-link" asp-controller="Home" asp-action="Coin" asp-route-id="@coin.Id">@coin.Name</a></td>
                <td>@coin.CurrentPrice $</td>
                <td>@coin.PriceChangePercentage24h %</td>
                <td>@coin.Volume $</td>
            </tr>
        }
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item @(Model.PageNumber > 0 ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("List", new { pageNumber = Model.PageNumber - 1, searchString = Model.SearchString })">Previous</a>
            </li>
            <li class="page-item @(Model.PageNumber > 0 ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("List", new { pageNumber = 0, searchString = Model.SearchString })">First</a>
            </li>
            <li class="page-item @(Model.PageNumber < Model.MaxPages ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("List", new { pageNumber = Model.MaxPages, searchString = Model.SearchString })">Last</a>
            </li>
            <li class="page-item @(Model.PageNumber < Model.MaxPages ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("List", new { pageNumber = Model.PageNumber + 1, searchString = Model.SearchString })">Next</a>
            </li>
        </ul>
    </nav>

</div>
